@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Ubunto', sans-serif;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}


.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


.invisible {
  visibility: hidden;
}


.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}



/* nav bar */
.navbarRow {
  row-gap: 1rem;
  display: grid;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.35rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
}

.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbarlogo {
  display: flex;
  align-items: flex-end;
  padding: 1em 0.2em 0 0em;
  font-size: xx-large;
}

.navcol {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.navcontentlinks a {
  color: white;
  text-decoration: none;
}

.navlinksicon {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlinksicon i {
  font-size: larger;
  color: white;
}

.navlinkiconbg {
  width: 2.5em;
  height: 2.5em;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlinktextbox {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: flex-end;
}

.navlinktextbox h5 {
  margin: 0;
}

.navhome {
  background-color: rgb(109, 189, 109);
}

.navpage {
  background-color: rgb(238, 193, 88);
}

.navblog {
  background-color: rgb(240, 104, 104);
}

.navportfolio {
  background-color: rgb(64, 154, 184);
}

.navemail {
  background-color: rgb(75, 96, 165);
}


.hide {
  display: none;
}

.navhide {
  top: 4rem;
  position: absolute;
  z-index: 999;
}

.content>h1 {
  font-weight: 200;
  text-align: center;
}

.content>h1>span {
  color: rgb(30, 175, 222);
}

.section-one {
  display: grid;
  place-items: center;
}

.section-one-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}

.section-one-content>div {
  font-size: 0.75rem;
  text-align: center;
  display: grid;
  place-items: center;
  width: 15rem;
}

.LargeImg {
  width: 19em;
  height: 15em;
}

.section-two-content{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3em;
  justify-content: center;
}
.section-three,
.section-two {
  text-align: center;
}
.section-three-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3em;
  justify-content: center;
}












/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}



@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }


  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }


  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}